@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --clr-bg-primary: #23252C;
  --clr-bg-secondary: #ffffff;

  --clr-text-primary: #ffffff;
  --clr-text-secondary: #23252C;

  --ff-primary: "Poppins", sans-serif;
  --fs-primary: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: var(--ff-primary);
  font-size: var(--fs-primary)
}

body {
  height: 100vh;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

#__next {
  height: 100%;
}
